

</br>
</br>
</br>
</br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">

      <p id="notice"><%= notice %></p>
      <center><h3>Listing New Employees</h3></center>
        
        <table class="table table-bordered">
          <tr class="info">
            <th>Zoloid</th>
            <th>Code</th>
            <th colspan="3"></th>
          </tr>
          <tbody>
            <% @employees.each do |employee| %>
               <tr class="success">
                <td><%= employee.zoloid %></td>
                <td><%= employee.code_digest %></td>
                <td><%= link_to 'Show', employee %></td>
                <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
                <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
         
        </table>
        

      <%= link_to 'New Employee', new_employee_path %>
    </div>
  </div>
</div>



