

<%= form_for :new_employee_details, url: new_employee_details_path  , :methord => :post do |f| %>
<!-- rails generate model New_employee_details name:string   image_path:string location:string qualification:string college:string organization:string department:string role:string hobbies:text dob:date about_yourself:text -->


  <p>
    <%= f.label :zolo_id %><br>
    <%= f.text_field :zolo_id %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name  %>
  </p>
 
 <p>
    <%= f.label :image_path %><br>
    <%= f.text_field :image_path , class: "create_input"%>


   
    <!-- <%= file_field(:attachment, :file, class: 'file_input') %> -->
     <!-- file_field 'image_path', 'datafile' -->
  </p>



  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :qualification %><br>
    <%= f.text_field :qualification %>
  </p>

  <p>
    <%= f.label :college %><br>
    <%= f.text_field :college %>
  </p>

  <p>
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </p>
  <p>
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </p>
  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :hobbies %><br>
    <%= f.text_area :hobbies %>
  </p>

  <p>
    <%= f.label :dob %><br>
    <%= f.text_field :dob %>
  </p>

  <p>
    <%= f.label :about_yourself %><br>
    <%= f.text_area :about_yourself %>
  </p>



 
  <p>
    <%= f.submit %>
  </p>


<% end %>