<p>
  <strong>Employee ID:</strong>
  <%= @employee_details.zolo_id %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @employee_details.name %>
</p>
<p>
  <strong>Image Path:</strong>
  <%= @employee_details.image_path %>
</p>
<p>
  <strong>Location:</strong>
  <%= @employee_details.location %>
</p>
<p>
  <strong>Qualification:</strong>
  <%= @employee_details.qualification %>
</p>
<p>
  <strong>College:</strong>
  <%= @employee_details.college %>
</p>
<p>
  <strong>Organization:</strong>
  <%= @employee_details.organization %>
</p>
<p>
  <strong>Role:</strong>
  <%= @employee_details.role %>
</p>
<p>
  <strong>Hobbies:</strong>
  <%= @employee_details.hobbies %>
</p>
<p>
  <strong>Bate Of Birth:</strong>
  <%= @employee_details.dob %>
</p>
<p>
  <strong>About Yourself :</strong>
  <%= @employee_details.about_yourself %>
</p>

<%= cl_image_tag( @employee_details.image_path , :width => 90, :height => 130,  :crop => :fill, :gravity => :north_west) %>