<h3>Please Fillup Your Details</h3>




<!-- 
<p>
  <strong><%= @key1 %></strong>
  <%= @value1 %>
</p>
 -->
<p>
  <strong><%= @key2 %></strong>
  <%= @value2 %>
</p>


<p>
  <strong><a href="<%= @value3 %>"><%= @key3 %></a></strong>
  
  
</p>



 

